<div class="callout blog-post">
  <div class="callout small secondary">
    <h3>{{title}}</small></h3>
  </div>
    
  <p>{{content}}</p>       
  <ul class="menu simple">
    <li>Posted By: {{user.username}} on {{date_format created_at}}</li>
  </ul>
</div> 