 <div class="callout">
      <div class="blog-post">
        <h3>{{title}}</small></h3>
        <p>{{content}}</p>       
          <ul class="menu simple">
            <li>Posted By: {{user.username}} on {{date_format created_at}}</li>
            </ul>
        </div>
      </div> 