<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

    <!-- Start Top Bar -->
    <div id="access" >
        <ul class="menu nav-bar">
          <li class="menu-text"><a href="/">Home</a></li>
          {{#if loggedIn}}
          <li class="menu-text"><a href="/dashboard">Dashboard</a></li>

          <li class="menu-text" id="logout">Logout</a></li>
          {{else}}
          <li class="menu-text"><a href="/dashboard">Dashboard</a></li>
          
          <li class="menu-text"><a href="/login">Login</a></li>
          {{/if}}
        </ul>
    </div>
    <!-- End Top Bar -->

    <div class="callout  primary">
      <div class="row column text-center">
      <h1>The Tech Blog</h1>
      </div>
    </div>

    {{{body}}}
   

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>
</html>



