<div>
  <a href="">
      <div class="row align-right">
        <div class="column small-4">
          <i class="fa fa-plus" aria-hidden="true"></i>
          <span>New Post</span>    
        </div>       
      </div>    
  </a>
  {{#each posts as |post|}}
  <!-- We can now combine rows and columns when there's only one column in that row -->
    <div class="row medium-8 large-7 columns">
      <a href="/posts/{{post.id}}" class="post-block">
       <div class="callout">
      <div class="blog-post">
        <h3>{{title}}</small></h3>
        <ul class="menu simple">
            <li>Posted on: {{date_format created_at}}</li>
        </ul>
        </div>
      </div> 
      </a>       
    </div> 

  {{/each}}

</div>