<form class="callout text-center login-form">
  <fieldset>    
    <label for="email">Email
    <input type="email" id="email-login" name="email input" placeholder="Email">
    </label> 

    <label for="pass">Password
    <input type="password" id="pass-login" name="password input" placeholder="Password">

  <input class="button expanded" type="submit" value="Login">
  </fieldset>
</form>



<form class="callout text-center sign-up-form">
  <h2>Become A Member</h2>
  <div class="floated-label-wrapper">
    <label for="full-name">User name</label>
    <input type="text" id="user-name" name="full name input" placeholder="Full name">
  </div>
  <div class="floated-label-wrapper">
    <label for="email">Email</label>
    <input type="email" id="email" name="email input" placeholder="Email">
  </div>
  <div class="floated-label-wrapper">
    <label for="pass">Password</label>
    <input type="password" id="pass" name="password input" placeholder="Password">
  </div>
  <input class="button expanded" type="submit" value="Sign up">
</form>

<script src="/javascript/login.js"></script>