
  <div class="row medium-8 large-3 columns">
<form class="login-form">
  <div class="form-icons">
    <h4>Login to your account!</h4>

    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-envelope"></i>
      </span>
      <input class="input-group-field"  id="email-login" type="text" placeholder="Email">
    </div>

    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-key"></i>
      </span>
      <input class="input-group-field" id="pass-login"  type="password" placeholder="Password">
    </div>
  </div>
  
  <input class="button expanded" type="submit" value="Login">

</form>
 <a href="/signup"><input class="button expanded" type="click" value="Sign Up"></a> 
</div>


<script src="/javascript/login.js"></script>