<!-- We can now combine rows and columns when there's only one column in that row -->
    <div class="row medium-8 large-7 columns">
      <div class="blog-post">
        <h3>{{title}}</small></h3>
        <img class="thumbnail" src="https://placehold.it/850x350">
        <p>{{content}}</p>
        <div class="callout">
          <ul class="menu simple">
            <li><a href="#">Author: {{username}}</a></li>
            <li><a href="#">Comments: 3</a></li>
          </ul>
        </div>
      </div>         
    </div>