  <div class="row medium-8 large-7 columns">
      {{> post-details post}}
      <form class="comment-form">
        <p><strong>Comments:</strong></p>
        <textarea id="comment-message" rows="5" placeholder="Type your comment here"></textarea>
        <input class="button expanded comment-button" type="submit" value="Add Comment">
      </form>
      
      
      {{#each post.comments as |comment|}}
        <div class="callout">
          <p>{{comment.note}}</p>   
          <ul class="menu simple">
            <li>Posted By: {{comment.user.username}} on {{comment.createdAt}}</li>
          </ul>
      </div>  
     {{/each}}    
</div>

<script src="/javascript/comment.js"></script>