 <div class="row medium-8 large-7 columns">
      <form class="post-update-form">
        <input class="input-group-field"  id="post-title" type="text" value={{post.title}}>
        <textarea id="post-message" rows="5" >{{post.content}}</textarea>
        <input class="button expanded update-button" type="submit" value="Update Post">       
      </form>
       <input class="button expanded delete-button" type="click" value="Delete Post">
</div>

<script src="/javascript/update-post.js"></script>