 <div class="row medium-8 large-7 columns">
      <form class="post-updae-form">
        <input class="input-group-field"  id="post-title" type="text" placeholder="Title">
        <textarea id="post-message" rows="5" placeholder="Type your post content here"></textarea>
        <input class="button expanded update-button" type="submit" value="Update Post">
         <input class="button expanded delete-button" type="submit" value="DeletePost">
      </form>
</div>

<script src="/javascript/post.js"></script>