* {
    box-sizing: border-box;
  }
  #access {
    width: 100%;
    height: 3em;
    margin: 0;
    text-align: center;}

    .nav-bar {
      height: auto;
      margin: 0;
      padding: 0;
      display: inline-block;}

.post-block{
  text-decoration: none;
  color: black;
}


.logout-link, a {
  cursor:pointer;
  color:blue;

}